
    
<!DOCTYPE html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.query-builder/2.3.3/js/query-builder.standalone.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>	
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/export-data.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.query-builder/2.3.3/css/query-builder.default.min.css">
	<!--
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	-->
	<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">		

	
	<style>
		/* Custom CSS */
		.mt {
			margin-top: 30px;
		}
		body {
			font-family: 'Lato', sans-serif !important;
		}
		.top-hero {
			position: relative;
			height: 250px;
			width: 100%;
			background: #3700b3;
			padding: 20px 0;
		}
		#querybuilderbuttons {
			height: 50px;
		}
		#container {
			width: 100%;
			box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.2);
			border-radius: 8px;
			text-align: center;
			background: #f1f1f1;
    		margin-top: 10px !important;
		}
		.tweakers {
			position: absolute;
			width: 93%;
			margin: auto;
			top: 125px;
			background: #fff;
			left: 0;
			right: 0;
			box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.2);
			color: #313131;
			height: 320px;
			border-radius: 8px;
			text-align: center;
    		padding: 0 10px;
		}
		.hero {
			position: relative;
			height: 350px;
			width: 100%;
			text-align: center;
		}
		.header {			
			margin-top: 0;
			font-size: 35px;			
    		color: #fff;
		}
		.white {
    		color: #f2f2f2;
    		font-size: 16px;
		}
		.nodata {
			margin: auto;
			padding: 10px;
			margin: 10px;
			width: 15%;
			height: auto;
			position: relative;
			left: auto;
			right: auto;
    		margin-top: 50px;

		}
		.block{
			display: block;
			height: 50px;
			padding: 10px 0;
		}
	</style>
	<title>QueryBuilder</title>

	<style>
		h1 { color: #111; font-size: 80px; font-family: 'Helvetica Neue', 'sans-serif'; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }
	</style>
		
</head>

<body>
		<div class="hero">

				<div class="top-hero">
						<h3 class="header">Metrics Visualization</h3>
						<p class="white">Visualize Metrics With Us</p>


					</div>
					<div class="tweakers">
						<div class="row">
								<div class="col-sm-2 mt">
										<label>Table: </label>
										<div id="dbtable" class="dropdown">
												
												<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
													Select Table
												<span class="caret"></span>
												</button>
												<ul class="dropdown-menu" aria-labelledby="dbtable">
													{% for table in tables %}
													<li><a href="#">{{table}}</a></li>
													{% endfor %}
												</ul>
										</div>
								</div>
	
								<div class="col-sm-2 mt">
									<!-- Aggregation input -->
									<label>Aggregation: </label>
									<div id="aggregationtype" class="dropdown">
													
										<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
													Select Aggregation
													<span class="caret"></span>
													</button>
													<ul class="dropdown-menu" aria-labelledby="aggregationtype">
														<li><a href="#">None</a></li>
														<li><a href="#">Sum</a></li>
														<li><a href="#">Count</a></li>
														<li><a href="#">Avg</a></li>
													</ul>
									</div>
								</div>
	
								<!-- Table Columns -->
								<div class="col-sm-2 mt">
									
									<label>XAxis:</label>
									<div id="xaxistype" class="dropdown">
	
										<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
											Select Column
											<span class="caret"></span>
											</button>
											<ul id="xaxislist" class="dropdown-menu">
											</ul>
									</div>
																		
									
								</div>
								
								<div class="col-sm-2 mt">

										<label>X Aggregation:</label>
										<div id="xagg">
												<div id="xaggtype" class="dropdown">
			
													<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
														Select Aggregation
														<span class="caret"></span>
														</button>
														<ul id="xagglist" class="dropdown-menu">
															<li><a href="#">None</a></li>
															<li><a href="#">Daily</a></li>
															<li><a href="#">Weekly</a></li>
															<li><a href="#">Monthly</a></li>
															<li><a href="#">Quaterly</a></li>
														</ul>
												</div>
											</div>
								</div>
						
	
								<!-- Table Columns -->
								<div class="col-sm-2 mt">
									<label>YAxis:</label>
									<div id="yaxistype" class="dropdown">
										<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
											Select Column
											<span class="caret"></span>
											</button>
											<ul id="yaxislist" class="dropdown-menu">
											</ul>
									</div>
								</div>
								
								<!-- Table Columns -->
								<div class="col-sm-2 mt">
										<label>Z-Axis:</label>
										<div id="zaxistype" class="dropdown">
											<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
												Select Column
												<span class="caret"></span>
												</button>
												<ul id="zaxislist" class="dropdown-menu">
												</ul>
										</div>
								</div>
	
								<!-- Graph Type -->
								<div class="col-sm-2 mt">
										<label>GraphType: </label>
										<div id="graphtype" class="dropdown">
											<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
												Select Graph
												<span class="caret"></span>
											</button>
											<ul id="graphtypelist" class="dropdown-menu" aria-labelledby="aggregationtype">
											</ul>
										</div>
								</div>
						</div>
						<div class="row">
								<div class="col">
									<div style="margin: 15px;" id="builder"></div>
								</div>
							</div>
		
							<div id="querybuilderbuttons" class="row">
								  <div class="block">
										<!--<button class="btn btn-success" id="btn-set">Set Rules</button>-->
										<!--<button class="btn btn-primary" id="btn-get">Get Rules</button>-->
										<button class="btn btn-warning" id="btn-reset">Reset</button>
										<button class="btn btn-success" id="btn-sql">Generate Graph</button>
								  </div>
							</div>
					</div>

		</div>
		<div style="padding-top: 50px; margin:50px;">
				<!-- DB Table -->
				

					
					
					<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto">
					<!-- chart -->
						<img class="nodata" src="https://i.imgur.com/OQ74k5S.png" />
						<h3>No Data</h3>
					</div>

				</div>

		<script>

        var column_types = {};

		// handling table dropdown
		$("#dbtable li a").click(function(){
			$(this).parents("#dbtable").find('.btn').html($(this).text() + ' <span class="caret"></span>');
			$(this).parents("#dbtable").find('.btn').val($(this).data('value'));
			var table_name = $(this).text().trim();

					// ajax for getting the column names.
					$.ajax({
						url: '/getschemadetails',
						type: "POST",
						data: {
							'table_name': table_name
						},

						success: function (result) {
                            column_types = result;
                            
							// populate the x axis list
							var list = $("#xaxislist");
							list.empty();
							keys = Object.keys(result);
							for (var i=0; i<keys.length; i++){  
									var opt = keys[i];
									$("#xaxislist").append('<li><a href="#">'+opt+'</a></li>');
								};

							// populate the y axis list
							var list = $("#yaxislist");
							list.empty();
							for (var i=0; i<keys.length; i++){  
									var opt = keys[i];
									$("#yaxislist").append('<li><a href="#">'+opt+'</a></li>');
								};
							
							// populate the z axis list
							var list = $("#zaxislist");
							list.empty();
							$("#zaxislist").append('<li><a href="#">None</a></li>');
							for (var i=0; i<keys.length; i++){  
									var opt = keys[i];
									$("#zaxislist").append('<li><a href="#">'+opt+'</a></li>');
								};

							//populate the filter paramters
							var filters_= [];
							var field_map = {
								'AutoField': 'integer',
								'string': 'string',
								'float': 'double',
								'integer': 'integer',
								'datetime': 'datetime',
								'date':'date',
							}

							for (var i=0; i<keys.length; i++){  
									var col = keys[i];
									var col_type = field_map[result[col]];
									var filter_ = {
										id: col,
										label: col,
										type: col_type,
									}
									filters_.push(filter_)
								};
								
							// handling the querybuilder
							$('#builder').queryBuilder({
							plugins: ['bt-tooltip-errors'],
							filters: filters_
							});
							$('#querybuilderbuttons').css('display', 'block');
						}
					});

			});
		
		
		// handling xaxis dropdown
		$(document).on('click', "#xaxistype li a", function(){
			$(this).parents("#xaxistype").find('.btn').html($(this).text() + ' <span class="caret"></span>');
			$(this).parents("#xaxistype").find('.btn').val($(this).data('value'));
			var xaxis = $(this).text().trim();
            var xaxis_datatype = column_types[xaxis];
            if (xaxis_datatype == "datetime" || xaxis_datatype=="date") {
                $('#xagg').css('display', 'block');
            }
            else {
                $('#xagg').css('display', 'None');
            }
		});
        
        // handling xagg dropdown
		$(document).on('click', "#xaggtype li a", function(){
			$(this).parents("#xaggtype").find('.btn').html($(this).text() + ' <span class="caret"></span>');
			$(this).parents("#xaggtype").find('.btn').val($(this).data('value'));
			//var xagg = $(this).text().trim();
		});

		// handling yaxis dropdown
		$(document).on('click', "#yaxistype li a", function(){
			$(this).parents("#yaxistype").find('.btn').html($(this).text() + ' <span class="caret"></span>');
			$(this).parents("#yaxistype").find('.btn').val($(this).data('value'));
			//var yaxis = $(this).text().trim();
		});
		
		// handling zaxis dropdown
		$(document).on('click', "#zaxistype li a", function(){
			$(this).parents("#zaxistype").find('.btn').html($(this).text() + ' <span class="caret"></span>');
			$(this).parents("#zaxistype").find('.btn').val($(this).data('value'));
			//var zaxis = $(this).text().trim();
		});

		// handling graphtype dropdown
		$(document).on('click', "#graphtype li a", function(){
			$(this).parents("#graphtype").find('.btn').html($(this).text() + ' <span class="caret"></span>');
			$(this).parents("#graphtype").find('.btn').val($(this).data('value'));
			//var graphtype = $(this).text().trim();
		});

		// handling aggregation dropdown
		$("#aggregationtype li a").click(function(){
			$(this).parents("#aggregationtype").find('.btn').html($(this).text() + ' <span class="caret"></span>');
			$(this).parents("#aggregationtype").find('.btn').val($(this).data('value'));
			var aggregation_type = $(this).text().trim();
			
			// handle graphtype based on aggregation
			if (aggregation_type === "None") {
				var list = $("#graphtypelist");
				list.empty();
				$("#graphtypelist").append('<li><a href="#">Line</a></li>');
				$("#graphtypelist").append('<li><a href="#">Column</a></li>');
				$("#graphtypelist").append('<li><a href="#">Bar</a></li>');
			}
			else {
				var list = $("#graphtypelist");
				list.empty();
                $("#graphtypelist").append('<li><a href="#">Line</a></li>');
				$("#graphtypelist").append('<li><a href="#">Column</a></li>');
				$("#graphtypelist").append('<li><a href="#">Bar</a></li>');
				$("#graphtypelist").append('<li><a href="#">Pie</a></li>');
                $("#graphtypelist").append('<li><a href="#">Stack Bar</a></li>');
				$("#graphtypelist").append('<li><a href="#">Stack Column</a></li>');
                
			}
		});

 /****************************************************************
    						Triggers and Changers QueryBuilder
 *****************************************************************/

	$('#btn-get').on('click', function() {
	  var result = $('#builder').queryBuilder('getRules');
		alert(JSON.stringify(result, null, 2));
	});

	$('#btn-sql').on('click', function() {
	  var filter_query = $('#builder').queryBuilder('getSQL')['sql'];
		
		// construct sql
		var table_name = $("#dbtable").find('.btn').text().trim();
		var agg_type = $("#aggregationtype").find('.btn').text().trim();
		var xaxiscolumn = $("#xaxistype").find('.btn').text().trim();
		var yaxiscolumn = $("#yaxistype").find('.btn').text().trim();
        var zaxiscolumn = $("#zaxistype").find('.btn').text().trim();
        var xagg_type = $("#xaggtype").find('.btn').text().trim();
		var graph_type = $('#graphtype').find('.btn').text().trim();

		if (agg_type=="None") {
			

			if (filter_query == '') {
				var final_query = `select ${xaxiscolumn},${yaxiscolumn} from ${table_name}`;
			}
			else {
				var final_query = `select ${xaxiscolumn},${yaxiscolumn} from ${table_name} where ${filter_query}`;
			}
		}
		else {
			if (filter_query == '') {
                if (zaxiscolumn=="None"){
                    var final_query = `select ${xaxiscolumn},${agg_type}(${yaxiscolumn}) as ${yaxiscolumn} from ${table_name} group by ${xaxiscolumn}`;
                }
                else {
                    var final_query = `select ${xaxiscolumn}, ${zaxiscolumn}, ${agg_type}(${yaxiscolumn}) as ${yaxiscolumn} from ${table_name} group by ${xaxiscolumn}, ${zaxiscolumn}`;
                }
			}
			else {
                if (zaxiscolumn=="None"){
                    var final_query = `select ${xaxiscolumn}, ${agg_type}(${yaxiscolumn}) as ${yaxiscolumn} from ${table_name} where ${filter_query} group by ${xaxiscolumn}`;
                }
                else {
                    var final_query = `select ${xaxiscolumn},${zaxiscolumn},${agg_type}(${yaxiscolumn}) as ${yaxiscolumn} from ${table_name} where ${filter_query} group by ${xaxiscolumn},${zaxiscolumn}`;
                }
			}
		}
		
		// return sql
		console.log(JSON.stringify(final_query, null, 2));

		// call ajax
		$.ajax({
						url: '/getquerydata',
						type: "POST",
						dataType: "json",
						data: {
							'table_name': table_name,
							//'csrfmiddlewaretoken': '{{ csrf_token }}',
							'sql_query': final_query,
							'agg_type': agg_type,
                            'xagg_type': xagg_type,
                            'graph_type': graph_type,
							'xaxiscolumn': xaxiscolumn,
							'yaxiscolumn': yaxiscolumn,
							'zaxiscolumn': zaxiscolumn
						},
						success: function (highcharts_json) {
                            
                            var series = highcharts_json['series'];
                            var categories = highcharts_json['categories'];
                            var xaxistype = highcharts_json['xaxistype'];
                            var xlabel = highcharts_json['xlabel'];
                            var ylabel = highcharts_json['ylabel'];
							var xagg_type = highcharts_json['xagg_type'];
                            var stack_bool = highcharts_json['stacking'];
                            var graph_type = highcharts_json['graph_type'];
                            
                            if (categories.length>0) {
                                var xaxis_dict = {
                                    type:xaxistype,
                                    categories: categories,

                                    title: {text: xlabel}
                                }
                            }
                            else {
                                var xaxis_dict = {
                                    type:xaxistype,
                                    title: {text: xlabel}
                                }
                            }
                            
                            Highcharts.setOptions({
                                 colors: ['#ff7c43', '#003f5c', '#58508d', '#ff6361', '#ffa600', '#FFF263']
                                });
                            
								Highcharts.chart('container', {
									chart: {
										type: graph_type,
										zoomType: 'xy',
									},
									xAxis: xaxis_dict,
									yAxis: {
										title: {text: ylabel}
									},
									legend: {
                                        align: 'right',
                                        x: -30,
                                        verticalAlign: 'top',
                                        y: 25,
                                        floating: true,
                                        backgroundColor:
                                            Highcharts.defaultOptions.legend.backgroundColor || 'white',
                                        borderColor: '#CCC',
                                        borderWidth: 1,
                                        shadow: false
                                    },
									plotOptions: {
                                        column:{
                                            stacking: stack_bool
                                        },
										area: {
											marker: {
												radius:2
											},
											linewidth: 1,
											states: {
												hover: {
													linewidth: 1
												}
											},
											threshold:null
										}
									},
									series: series
								});
						}
						
		});
	});


	$('#btn-reset').on('click', function() {
	  $('#builder').queryBuilder('reset');
	});

	$('#btn-set').on('click', function() {
	  //$('#builder').queryBuilder('setRules', rules_basic);
	  var result = $('#builder').queryBuilder('getRules');
	  if (!$.isEmptyObject(result)) {
	  	rules_basic = result;
	  }
	});

	//When rules changed :
	$('#builder').on('getRules.queryBuilder.filter', function(e) {
		//$log.info(e.value);
	});

  </script>
</body>
</html>